<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header', { title: "Post"}) %> 
<body>
    <%- include('../partials/navbar') %> 
    <center><h3>Timeline</h3></center>
    <hr>
        <div class="col">
            <center>
                <% posts.forEach(post => { %>
                    <div class="col-md-4 mt-4">
                      <div class="card" style="width: 23rem">
                        <div class="card-body">
                            <img src="<%= post.User.profilePicture %> " class="card-img-profile" alt="..." style="width: 50px">
                            <a href="/profile/<%= post.User.id %>">
                                <span><%= post.User.name %> </span>
                            </a>
                          <p class=""><%= post.post %></p>
                        </div>
                        <% if(post.imageURL) { %>
                            <div class="card" style="width: 22rem">
                                <img src="<%= post.imageURL %>" class="card-img-bottom" alt="...">
                            </div>
                        <% } %>
                        
                      </div>
                    </div>
                  <% }) %> 
            </center>
        </div>
        <%- include('../partials/footer') %> 
</body>
<style>
    body {
  margin: 3em;
}
.card-img-profile {
  width: 60%;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card-img- {
  width: 60%;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.card {
  padding: 1.5em 0.5em 0.5em;
  text-align: center;
  border-radius: 2em;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.card-title {
  font-weight: bold;
  font-size: 1.5em;
}
.btn-primary {
  border-radius: 2em;
  padding: 0.5em 1.5em;
}

</style>
</html>