<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header', { title: "Post"}) %> 
<body>
    <%- include('../partials/navbar') %> 
    <center><h3>Timeline</h3></center>
    <hr>
        <div class="col">
            <% posts.forEach(post => { %>
              <div class="mt-4">
                <div class="card" style="max-height: 50vh;">
                  <div class="card-body">
                    <p class=""><%= post.post %></p>
                  </div>
                  <% if(post.imageURL) { %>
                    <div style="height: 25vh;">
                      <img src="<%= post.imageURL %>" class="card-img-bottom" alt="...">
                    </div>
                  <% } %> 
                  <!-- post.post is caption for the image -->
                  
                    
                </div>
              </div>
            <% }) %> 
            <div class="col-md-4 mt-4">
                <div class="card" style="width: 24rem;">
                    <img src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Coding Yaar</h5>
                      <p class="card-text">Buat comment</p>
                      <img src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg" class="card-img-profile" alt="...">
                      <a href="#" class="btn btn-primary">Name User</a>
                      <a href="#" class="btn btn-primary">Comment</a>
                      <a href="/profile/:id/edit" class="btn btn-primary">Edit</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-4 mt-4">
                <div class="card" style="width: 24rem;">
                    <img src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Coding Yaar</h5>
                      <p class="card-text">Buat comment</p>
                      <img src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg" class="card-img-profile" alt="...">
                      <a href="#" class="btn btn-primary">Name User</a>
                      <a href="#" class="btn btn-primary">Comment</a>
                    </div>
                  </div>
            </div>
        </div>
        <%- include('../partials/footer') %> 
</body>
<style>
    body {
  margin: 3em;
}
.card-img-profile {
  width: 60%;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card-img- {
  width: 60%;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.card {
  padding: 1.5em 0.5em 0.5em;
  text-align: center;
  border-radius: 2em;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.card-title {
  font-weight: bold;
  font-size: 1.5em;
}
.btn-primary {
  border-radius: 2em;
  padding: 0.5em 1.5em;
}

</style>
</html>